aniso8601==9.0.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
flask-talisman==0.7.0
gevent==21.1.2
greenlet==1.0.0
grpcio==1.35.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
NEURON==7.8
numpy==1.20.1
protobuf==3.15.2
pydgraph==20.7.0
python-dotenv==0.15.0
pytz==2021.1
six==1.15.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
